.story {
  background: var(--secondary-layout-color);
  margin: 2em auto;
  padding: 1em;
  border-radius: 8px;
  max-width: 700px;
}

.story a {
  color: var(--dark-text-color);
  display: block;
}

.story a:hover {
  text-decoration: none;
}

.story .author-link {
  display: inline-block;
}

.story .meta {
  font-size: 0.8em;
  color: var(--primary-text-color);
}

.story .meta a {
  color: var(--primary-text-color);
  text-decoration: underline;
}
