* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: #67b9be;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header-and-footer {
  background: #4834d4ed;
  color: #dff9fb;
  text-align: center;
  padding: 1em 0;
}
