* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.main-container {
  width: 80%;
  border: 1px solid #ccc;
  margin: 0 auto;
}

a {
  color: #67b9be;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
