:root {
  --primary-layout-color: #4834d4ed;
  --secondary-layout-color: #dff9fb;
  --primary-text-color: #aaa;
  --primary-link-color: #67b9be;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--primary-link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.layout-element {
  background: var(--primary-layout-color);
  color: var(--primary-text-color);
  text-align: center;
  padding: 1em 0;
}
